.hero {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  @include font(26px, 900, 1.61, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.hero-button {
  padding: 10px 32px;
  @include font(16px, 700, 1.9, 0.06em);
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile.jpg);
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-tablet.jpg);
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero-desktop.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero/hero-desktop@2x.jpg);
    }
  }
  .hero__title {
    @include font(44px, 900, 1.36, 0.06em);
  }
}
